.alertTitle {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-color: #e0e0e0;
  border-width: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.alertTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content {
  height: 800;
  width: 80%;
  margin: auto;
}
