.App {
  font-family: 'Roboto';
}

.App-header {
  background-color: #007ccb;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
